/******************* Common *******************/

* { box-sizing: border-box; }

body {
  display: flex;
  align-items: center;
  /* height: 100vh; */
}

/******************* Preloader *******************/

#mdb-preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #212121;
  z-index: 9998;
  height: 100%;
  width: 100%;
}

#mdb-preloader.loaded {
  opacity: 0;
  transition: .5s ease-in 1.3s;
}

p#preloader-text {
  margin-top: 12px;
}

/******************* Main content *******************/

div#main-container {
  display: flex;
  align-items: center;
  margin-top: 15px;
  margin-bottom: 15px;
}

div#body {
  margin-top: 20px;
}

ul.stepper > li.active > a > span.circle {
  background-color: #2BBBAD !important;
}

ul.stepper > li.success > a > span.circle {
  background-color: #00C851 !important;
}

ul.stepper > li.failure > a > span.circle {
  background-color: #ffbb33 !important;
}

span.point {
  display: flex !important;
  justify-content: center;
  align-items: center;
}

span.point > i {
  padding-left: 1px;
}

h1.mb-4 {
  margin-bottom: 35px !important;
}

h5.tab-pane__header {
  margin: 30px 0;
}

.step-content {
  padding-top: 1.5rem !important;
  padding-bottom: 1.5rem !important;
}

.step-content:not(:last-of-type) {
  border-bottom: 1px solid #bdbdbd;
}

li#projects > .step-content {
  box-shadow: inset black 0 10px 10px -12px;
}

li#projects > .step-content:first-of-type {
  box-shadow: none;
}

.step-content > h6 > i.attribute {
  margin-right: 4px;
  font-weight: 400;
}

.step-content > h6 > a {
  display: contents;
  padding: 0 !important;
}

h6.subheader {
  font-weight: 400;
  margin-bottom: 25px;
}

/******************* Grid (masonry) *******************/

.grid:after {
  content: '';
  display: block;
  clear: both;
}

.grid-item {
  height: auto;
  float: left;
  /* background: #00997B;
  border: 1px solid #999;
  border-color: hsla(0, 0%, 0%, 0.3);
  border-radius: 5px; */
  margin-bottom: 10px;
  padding: 10px;
}

/* .grid-item img.img-fluid {
  border-radius: 5px;
} */

.grid-item > figure {
  margin: 0 !important;
}

.grid-item > figure > a {
  padding: 0 !important;
}

a.lightbox-overlay {
  width: 100%;
  height: 100%;
  padding: 0 !important;
}

/******************* Media queries *******************/

@media screen and (max-width: 576px) {

  .grid-item {
    left: 0 !important;
  }

}
